
@mixin border-for-calendar {
  border: $border-hickness-calendar solid $border-color-calendar;
  border-radius: $border-radius-calendar;
}

@mixin cell-hover($background-color-property, $bottom-upper) {
  bottom: 0;
  transition: #{$background-color-property} 0.5s linear,
    #{$bottom-upper} 0.5s linear;

  &:hover {
    cursor: pointer;
    position: relative;
    #{$background-color-property}: $background-cell-hover;
    #{$bottom-upper}: $upper-cell-hover;
  }
}
