$grid-row-gap: 40px;
$grid-row-column: 30px;
$card-widht: 200px;
$padding-content: 30px 35px;
$time-animation: 1s;
$background-card-hover: #eee;
$title-color: #2f4f4f;
$rank-color: #880000;
$title-font_size: 20px;
$text-font_size: 18px;
$rank-font_size: 16px;
